@model IEnumerable<AuctionListing>

<div class="container">
    <div class="row pb-3">
        @foreach (var auction in Model)
        {
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 border-top border-5 rounded">
                            <img src="@auction.Property.ImageUrl" class="card-img-top rounded" alt="@auction.Property.Title" />
                            <div class="card-body pb-0">
                                <div class="pl-1">
                                    <p class="card-title h5  opacity-75 text-uppercase text-center">@auction.Property.Title</p>
                                    <p class="card-title text-warning text-center">@auction.Property.Location</p>
                                </div>
                                <div class="pl-1">
                                    <p class="text-light text-center mb-0">
                                        Starting Bid:
                                        <span>@auction.StartingBid.ToString("C")</span>
                                    </p>
                                </div>
                                <div class="pl-1">
                                    <p class="">
                                        Current Highest Bid:
                                        <span>@(auction.CurrentHighestBid.HasValue ? auction.CurrentHighestBid.Value.ToString("C") : auction.StartingBid.ToString("C"))</span>
                                    </p>
                                </div>
                                <div class="pl-1">
                                    <p class=" text-center">
                                        Auction Ends:
                                        <span>@auction.EndDate.ToString("g")</span>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <a asp-area="Buyer" asp-controller="BuyerAuction" asp-action="Details" asp-route-id="@auction.AuctionId"
                                   class="btn btn-primary bg-gradient border-0 form-control">
                                    View Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="container mt-5">
            <h1>Group Member Students Information</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>ID</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Archana Regmi</td>
                        <td>12300868</td>
                    </tr>
                    <tr>
                        <td>Birendra Basnet</td>
                        <td>12300871</td>
                    </tr>
                    <tr>
                        <td>Samir Magar</td>
                        <td>12300982</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>